fastapi[standard]==0.104.1
uvicorn[standard]==0.24.0
dotenv
requests
pydantic==2.5.0
pydantic-settings==2.1.0
python-multipart==0.0.6
aiolimiter
youtube_transcript_api
langchain
langchain_google_genai
scikit-learn
langchain_core
langchain_mongodb
pymongo
numpy
beautifulsoup4


python-dotenv==1.0.0


